<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad architecto cum vel facilis soluta necessitatibus nisi numquam, reprehenderit repudiandae, voluptate quam quos, debitis laborum earum explicabo aperiam omnis. Soluta, repellendus.</p>
    </div>
</section>