<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App Nodejs and Mongodb</h1>
    <p class="lead"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur deserunt eos reprehenderit doloremque numquam soluta.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore perferendis quod incidunt mollitia, commodi veritatis. Dolorum beatae maiores, explicabo quibusdam eligendi unde, ipsam, repellendus recusandae animi veniam perferendis quia cumque?</p>
    <a href="https://faztweb.com" class="btn btn-primary">Faztweb</a>
</div>